.col {
    color: #000;
    font-family: 'Noto Sans JP', sans-serif;
}
.header {
    display: block;
    background-color: #000;
    height: 70px;
}
.back {
    background-color: #161616;
    background-size: 100%;
}
