.nav .col {
    color: #9d0208;
    font-family: 'Open Sans', sans-serif;
}
.header {
    display: block;
    background-color: #000;
    height: 70px;
}
.back {
    background-color: #fff;
    background-size: 100%;
}
