.bottontop {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: white;
    display: inline-block;
    margin-top: 80px;
    position: relative;
    left: 10%;
    text-decoration: none;
    padding-left: 30px;
}